<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.framework.mapper.KnowledgeMapper">
    <resultMap id="knowledgeMap" type="Knowledge">
        <id property="id" column="id"/>
        <result property="kTitle" column="kTitle"/>
        <result property="kAnswer" column="kAnswer" typeHandler="com.zh.framework.util.StringBlobHandler"/>
        <result property="kUseCount" column="kUseCount"/>
        <result property="kUserTimeLast" column="kUserTimeLast"/>
        <result property="kApprStatus" column="kApprStatus"/>
        <result property="kApprUserId" column="kApprUserId"/>
        <result property="kApprTime" column="kApprTime"/>
        <result property="kApprMemo" column="kApprMemo"/>
        <result property="createUserId" column="createUserId"/>
        <result property="createTime" column="createTime"/>
    </resultMap>
    <insert id="addKnowledge" parameterType="Knowledge">
        INSERT INTO tb_knowledge(id,kTitle,kAnswer,createTime,createUserId) VALUES (
          #{id},#{kTitle},#{kAnswer,typeHandler=com.zh.framework.util.StringBlobHandler},#{createTime},#{createUserId}
        )
    </insert>
    <select id="queryAllKnowledge" resultMap="knowledgeMap">
        SELECT * FROM tb_knowledge k;
    </select>
    <select id="queryKnowledgeById" resultMap="knowledgeMap">
        SELECT * FROM tb_knowledge k WHERE k.id=#{id}
    </select>
    <select id="queryKnowledgesAndSort" resultMap="knowledgeMap">
        SELECT * FROM tb_knowledge ORDER BY tb_knowledge.
        <choose>
            <when test="orderBy=='kUserTimeLast'">
                kUserTimeLast
            </when>
            <when test="orderBy=='id'">
                id
            </when>
            <when test="orderBy=='createTime'">
                createTime
            </when>
            <otherwise>
                kUseCount
            </otherwise>
        </choose>
        <choose>
            <when test="order==1">
                ASC
            </when>
            <otherwise>
                DESC
            </otherwise>
        </choose>
    </select>
    <update id="updateUseCount">
        UPDATE tb_knowledge k SET k.kUseCount=#{count} WHERE k.id=#{id}
    </update>
    <update id="updateKnowledge" parameterType="Knowledge">
        UPDATE tb_knowledge k SET
        <if test="k.kTitle!=null">
            k.kTitle=#{kTitle},
        </if>
        <if test="k.kAnswer!=null">
            k.kAnswer=#{kAnswer,typeHandler=com.zh.framework.util.StringBlobHandler},
        </if>
        <if test="k.kApprStatus!=null">
            k.kApprStatus=#{kApprStatus},
        </if>
        <if test="k.kApprUserId!=null">
            k.kApprUserId=#{kApprUserId},
        </if>
        <if test="k.kApprTime!=null">
            k.kApprTime=#{kApprTime},
        </if>
        <if test="k.kApprMemo!=null">
            k.kApprMemo=#{kApprMemo},
        </if>
        <if test="k.createUserId!=null">
            k.createUserId=#{createUserId},
        </if>
        <if test="k.createTime!=null">
            k.createTime=#{createTime}
        </if>
    </update>
    <update id="updateKnowledgeStatus">
        UPDATE tb_knowledge k SET k.kApprStatus=#{status} WHERE k.id=#{id}
    </update>
    <update id="updateLastUseTime">
        UPDATE tb_knowledge k SET k.kUserTimeLast=#{time} WHERE k.id=#{id}
    </update>
    <delete id="deleteKnowledge">
        DELETE FROM tb_knowledge k WHERE k.id=#{id}
    </delete>
</mapper>