.myAceSkin {
    background-color: #4a4f56
}

.myAceSkin .navbar {
    background: #222a2d
}

.myAceSkin .sidebar, .myAceSkin .sidebar:before {
    background-color: #222a2d;
    border-right: 0
}

.myAceSkin .nav-list > li {
    border-color: #3f4e54;
    border-top-width: 0
}

.myAceSkin .nav-list > li > a, .myAceSkin .menu-min .nav-list > li.open > a {
    background-color: #222a2d;
    color: #b1bac1
}

.myAceSkin .nav-list > li:hover > a {
    background-color: #414b51;
    color: #e1eaf1
}

.myAceSkin .nav-list > li > a > .arrow {
    color: #b1bac1
}

.myAceSkin .nav-list > li.open > a > .arrow {
    color: #85c0ec
}

.myAceSkin .nav-list > li .submenu > li > a {
    border-top-color: #afbdc9
}

.myAceSkin .nav-list > li.active .submenu > li > a {
    border-top-color: #70818e
}

.myAceSkin .nav-list li.active > a:after {
    border-right-color: #FFF;
    border-width: 16px 10px;
    top: 2px
}

.myAceSkin .nav-list > li.active.open > ul.submenu > li.active > a:after {
    top: 1px
}

.myAceSkin .nav-list > li > a:hover:before{
    background-color: #ea7204;
}

.myAceSkin .nav-list > li.active:after {
    display: none
}

.myAceSkin .menu-min .nav-list > li.active > a:after {
    border-width: 10px 6px;
    top: 8px
}

.myAceSkin .menu-min .nav-list > li.active:hover > a:after {
    border-right-color: #242a2b
}

.myAceSkin .nav-list > li.open > a, .myAceSkin .nav-list > li.open > a:hover {
    color: #f3ae5b;
    background-color: #222a2d
}

.myAceSkin .nav-list > li.active > a, .myAceSkin .nav-list > li.active > a:hover, .myAceSkin .menu-min .nav-list > li.active > a, .myAceSkin .menu-min .nav-list > li.active > a:hover {
    background-color: #141a1b;
    color: #ea7204
}

.myAceSkin .nav-list > li > ul.submenu {
    background-color: #3a4344;
    border-top-color: #5a6364
}

.myAceSkin .nav-list > li.active > ul.submenu {
    background-color: #141a1b;
    border-top-color: #2f3e44
}

.myAceSkin .nav-list > li > .submenu > li > a {
    color: #d1dae1;
    border-bottom-color: #5a6364
}

.myAceSkin .nav-list > li > .submenu > li:first-child > a {
    border-top-color: transparent
}

.myAceSkin .nav-list > li > .submenu > li > a:hover {
    color: #f3ae5b
}

.myAceSkin .nav-list > li > .submenu > li.active > a {
    color: #ea7204;
    border-bottom-color: #2f3e44
}

.myAceSkin .nav-list > li > .submenu > li > a > [class*="icon-"]:first-child {
    background-color: #3a4344;
}

.myAceSkin .menu-min .nav-list > li:hover > a {
    color: #e1eaf1
}

.myAceSkin .menu-min .nav-list > li > a > .menu-text {
    background-color: #414b51
}

.myAceSkin .menu-min .nav-list > li.active > a > .menu-text {
    background-color: #242a2b
}

.myAceSkin .menu-min .nav-list > li.active:hover > a, .myAceSkin .menu-min .nav-list > li.active > a > .menu-text {
    color: #f3ae5b
}

.myAceSkin .menu-min .nav-list > li > a.active, .myAceSkin .menu-min .nav-list > li.open.active > a {
    background-color: #141a1b
}

.myAceSkin .menu-min .nav-list > li > a > .menu-text, .myAceSkin .menu-min .nav-list > li > ul.submenu {
    border-color: #3f4e54;
    margin-top: 1px;
    border-left-color: #242a2b
}

.myAceSkin .nav-list > li > .submenu > li:before, .myAceSkin .nav-list > li > .submenu:before {
    border-color: #929ba3
}

.myAceSkin .nav-list > li.active > .submenu > li:before, .myAceSkin .nav-list > li.active > .submenu:before {
    border-color: #3f4e54
}

.myAceSkin .menu-min .nav-list > li > a.dropdown-toggle > .menu-text {
    border-bottom-color: #5a606a
}

.myAceSkin .sidebar-collapse {
    background-color: #141a1b;
    border-color: #3f4e54;
    border-top-width: 1px
}

.myAceSkin .sidebar-collapse:before {
    border-color: #3f4e54
}

.myAceSkin .sidebar-collapse > [class*="icon-"] {
    background-color: #222a2d
}

.myAceSkin .sidebar-shortcuts, .myAceSkin .sidebar-shortcuts-mini {
    background-color: #141a1b;
    border-color: #3f4e54
}

.myAceSkin .sidebar > .nav-search {
    background-color: #141a1b;
    border-color: #3f4e54
}

.myAceSkin .menu-min .sidebar-shortcuts-large {
    background-color: #141a1b;
    box-shadow: none;
    border: 0;
    top: 0
}

.myAceSkin .breadcrumbs {
    border: 0;
    background-color: #f0f0f0
}

@media only screen and (max-width: 991px) {
    .myAceSkin .sidebar {
        border: 0;
        box-shadow: none
    }

    .myAceSkin .nav-list li.active > a:after {
        display: none
    }

    .myAceSkin .menu-min .nav-list > li.active.open > a:after {
        display: none
    }

    .myAceSkin .menu-min .nav-list > li.active:hover > a:after {
        display: block
    }
}

.myAceSkin .nav-list > li > .submenu > li > .submenu a {
    border-top-color: #7b858c
}

.myAceSkin .nav-list > li.active > .submenu > li > .submenu a {
    border-top-color: #545b60
}

.myAceSkin .nav-list > li .submenu li > .submenu > li a {
    color: #d1dae1;
    font-size: 13px
}

.myAceSkin .nav-list > li .submenu li > .submenu > li a > [class*="icon-"]:first-child {
    color: inherit
}

.myAceSkin .nav-list > li .submenu li > .submenu > li a:hover {
    color: #f3ae5b;
    text-decoration: none
}

.myAceSkin .nav-list > li .submenu li > .submenu > li a:hover > [class*="icon-"]:first-child {
    color: #ea7204
}

.myAceSkin .nav-list > li .submenu li.open > a, .myAceSkin .nav-list > li .submenu li > .submenu > li.open > a {
    color: #f3ae5b
}

.myAceSkin .nav-list > li .submenu li.open > a > [class*="icon-"]:first-child, .myAceSkin .nav-list > li .submenu li > .submenu > li.open > a > [class*="icon-"]:first-child {
    color: inherit
}

.myAceSkin .nav-list > li .submenu li > .submenu li.active > a {
    color: #f3ab3f
}

.myAceSkin .nav-list > li .submenu li > .submenu li.active > a > [class*="icon-"]:first-child {
    color: inherit
}

.myAceSkin .nav-list > li .submenu li > .submenu li.active > a:hover {
    color: #f3ae5b
}

.myAceSkin .nav-list > li .submenu li > a > .arrow {
    color: #BBB
}

.myAceSkin .nav-list > li > .submenu > li.open > a > .arrow, .myAceSkin .nav-list > li > .submenu > li > a:hover > .arrow, .myAceSkin .nav-list > li > .submenu > li > .submenu > li.open > a > .arrow, .myAceSkin .nav-list > li > .submenu > li > .submenu > li > a:hover > .arrow {
    color: inherit
}