<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>解答详细</title>
    <link rel="stylesheet" href="../../components/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../components/plugins/toastr/toastr.css">
    <style>
        .item {
            margin: 15px 0;
        }
    </style>
</head>
<body ng-app="detail">
<div class="container" ng-controller="detailController">
    <div class="row item">
        <div class="col-lg-1">
            标题
        </div>
        <div class="col-lg-10 input-group">
            <input type="text" disabled class="form-control" ng-model="response.kTitle"/>
        </div>
    </div>
    <div class="row item">
        <div class="col-lg-1">
            创建人
        </div>
        <div class="col-lg-10 input-group">
            <input type="text" disabled class="form-control" ng-model="response.createUserId"/>
        </div>
    </div>
    <div class="row item">
        <div class="col-lg-1">
            创建时间
        </div>
        <div class="col-lg-10 input-group">
            <input type="datetime" disabled class="form-control" ng-model="response.createTime">
        </div>
    </div>
    <div class="row item">

        <div class="col-lg-1">
            审批人
        </div>
        <div class="col-lg-10">
            <input type="text" disabled class="form-control" ng-model="response.kApprUserId">
        </div>
    </div>
    <div class="row item">
        <div class="col-lg-1">
            审批时间
        </div>
        <div class="col-lg-10">
            <input type="datetime" disabled class="form-control" ng-model="response.kApprTime">
        </div>
    </div>
    <div class="row item">
        <div class="col-lg-1">
            使用次数
        </div>
        <div class="col-lg-10">
            <input type="number" disabled class="form-control" ng-model="response.kUseCount">
        </div>
    </div>
    <div class="row item">
        <div class="col-lg-1">
            知识解答
        </div>
        <div class="col-lg-10">
            <textarea disabled style="width:100%;height: 100px" ng-model="response.kAnswer"></textarea>
        </div>
    </div>
    <div class="row item">
        <div class="col-lg-10 col-lg-offset-1">
            <a href="search.html" class="btn-lg btn-success">
                返回
            </a>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../components/javascripts/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="../../components/javascripts/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="../../components/javascripts/bootstrap/bootstrap-typeahead.js"></script>
<script type="text/javascript" src="../../components/plugins/toastr/toastr.min.js"></script>
<script type="text/javascript" src="../../components/javascripts/angular.min.js"></script>
<script type="text/javascript" src="../../components/javascripts/angular-sanitize.min.js"></script>
<script>
    var detail = angular.module("detail", []);

    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

    var detailController = detail.controller("detailController", ["$scope", "$http", function ($scope, $http) {
        var detailId = getQueryString("detailId");
        if (!detailId) {
            toastr.error("没有输入查询的知识ID");
            return;
        }

        $http({
            method: "GET",
            url: "http://localhost:8080/knowledgeRepo/repo/getKnowledgeDetail.form?id=" + detailId,
        }).then(function successCallback(response) {
            console.log(response.data.data);
            if (response.data.flag == 200) {
                $scope.response = response.data.data;
                $scope.response.createTime = new Date($scope.response.createTime).toLocaleString();
                $scope.response.kApprTime = new Date($scope.response.kApprTime).toLocaleString();
            } else {
                toastr.info("未查找到结果");
            }

        }, function errorCallback(response) {
            toastr.error("数据加载失败");
        });
    }]);
</script>
</body>
</html>