<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知识库</title>
    <link rel="stylesheet" href="../../components/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../components/plugins/toastr/toastr.css">
    <style>
        .resultItem {
            list-style-type: none;
            margin-top: 5px;
            margin-bottom: 5px;
            width: 100%;
        }

        .result-header a {
            color: blue;
        }

        .result-body {
        }

        .result-footer {
            margin-top: 5px;
            height: 30px;
        }

        .order-container {
            width: 100%;
            display: block;
            line-height: 100%;
            height: 34px;
            margin-bottom: 5px;
            margin-top: 5px;
        }

        b {
            color: red;
        }
    </style>
</head>
<body ng-app="search">
<div class="container" ng-controller="searchController" style="margin-top:10px">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-1">
            <div class="input-group">
                <input id="keyWord" type="text" class="form-control" placeholder="输入关键字进行搜索" ng-model="keyWord">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" style="margin-right: 2px" ng-click="search()">
                            搜索
                    </button>
                    <button class="btn btn-default" type="button" ng-click="keyWord=''">
                        清空
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row" ng-show="displayResult">
        <div class="col-lg-8 col-lg-offset-1">
            <ul style="width: 100%;padding:0px">
                <li class="order-container">
                    <div class="input-group">
                        <select ng-model="orderBy" class="form-control" ng-change="search(response.data.page)"
                                style="width: auto;float: right">
                            <option value="1">相关度</option>
                            <option value="2">使用次数</option>
                            <option value="3">相关度和使用次数</option>
                        </select>
                        <select ng-model="order" class="form-control" ng-change="search(response.data.page)"
                                style="width: auto;float: right">
                            <option value="1">升序</option>
                            <option value="2">降序</option>
                        </select>
                        <span class="input-group-addon">排序规则</span>
                    </div>
                </li>
                <li ng-repeat="result in response.data.list" class="resultItem">
                    <div class="result-header">
                        <h3><a href="knowledgeDetail.html?detailId={{result.id}}" ng-bind-html="result.kTitle"></a></h3>
                    </div>
                    <div class="result-body" ng-bind-html="result.kAnswer">
                    </div>
                    <div class="result-footer">
                        使用次数:{{result.kUseCount}}&nbsp;&nbsp;
                        相关程度:{{result.score}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" ng-show="displayResult">
        <div class="col-lg-8 col-lg-offset-1" style="text-align: center">
            <ul class="pagination">
                <li><a href="#" ng-click="search(response.data.pageNum-1)">&laquo;</a></li>
                <li class="active">
                    <a href="#">{{response.data.pageNum}}</a>
                </li>
                <li><a href="#" ng-click="search(response.data.pageNum+1)">&raquo;</a></li>
                <li>
                    <input type="number" ng-model="jumpToPage" style="width: 60px;height:34px"
                           placeholder="{{response.data.pageNum}}">
                    共{{response.data.pages}}页
                    <button class="btn btn-default" ng-click="search(jumpToPage)">跳转</button>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="../../components/javascripts/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="../../components/javascripts/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="../../components/javascripts/bootstrap/bootstrap-typeahead.js"></script>
<script type="text/javascript" src="../../components/plugins/toastr/toastr.min.js"></script>
<script type="text/javascript" src="../../components/javascripts/angular.min.js"></script>
<script type="text/javascript" src="../../components/javascripts/angular-sanitize.min.js"></script>
<script>
    var search = angular.module("search", ['ngSanitize']);
    search.controller("searchController", ["$scope", "$http", function ($scope, $http) {
        $scope.displayResult =false;
        /* $scope.results = [
             {
                 id: "sdf",
                 kTitle: "hello<em>world</em>",
                 kAnswer: "hs<em>fds</em>fsdfdsfds",
                 kUseCount: 20,
                 createTime: new Date().toLocaleString()
             },
             {
                 id: "sdfdsf",
                 kTitle: "vdsfdsfsdadf",
                 kAnswer: "avvvsdfds",
                 kUseCount: 20,
                 createTime: new Date().toLocaleString()
             },
             {
                 id: "sdf",
                 kTitle: "<em>hello</em>",
                 kAnswer: "hsfdsfsdfdsfds",
                 kUseCount: 20,
                 createTime: new Date().toLocaleString()
             },
         ];*/
        $scope.response = {
            data: {
                pageNum: 1
            },
        };
        $scope.orderBy = "1";
        $scope.order = "1";
        $scope.search = function (page) {
            if (!page && page != 0)
                page = 1;
            if (page < 1 || page > $scope.response.data.pages) {
                toastr.error("页码错误");
                return;
            }
            $http({
                method: "GET",
                url: "http://localhost:8080/knowledgeRepo/repo/searchIndex.form?keyWord=" + $scope.keyWord
                + "&page=" + page + "&orderBy=" + $scope.orderBy + "&order=" + $scope.order,
            }).then(function successCallback(response) {
                if (response.data.data.pages > 0) {
                    $scope.response = response.data;
                    $scope.displayResult = true;
                } else {
                    toastr.info("未查找到结果");
                }

            }, function errorCallback(response) {
                toastr.error("数据加载失败");
            });
        };
        jQuery('#keyWord').typeahead({
            source: function (keyWord, process) {
                jQuery.getJSON('http://localhost:8080/knowledgeRepo/repo/getInputHint.form', {"keyWord": keyWord}, function (response) {
                    process(response.data);
                });
            },
            updater: function (item) {
                return item.replace(/<a(.+?)<\/a>/, ""); //这里一定要return，否则选中不显示
            },
            /*            afterSelect: function (item) {
                            alert(item);
                        },*/
            items: 6, //显示6条
            delay: 500 //延迟时间
        });
    }]);
</script>
</body>
</html>