<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.framework.mapper.KnowledgeMapper">
    <resultMap id="knowledgeMap" type="Knowledge">
        <id property="id" column="id"/>
        <result property="kTitle" column="kTitle"/>
        <result property="kAnswer" column="kAnswer" typeHandler="com.zh.framework.util.StringBlobHandler"/>
        <result property="kUseCount" column="kUseCount"/>
        <result property="kUserTimeLast" column="kUserTimeLast"/>
        <result property="kApprStatus" column="kApprStatus"/>
        <result property="kApprUserId" column="kApprUserId"/>
        <result property="kApprTime" column="kApprTime"/>
        <result property="kApprMemo" column="kApprMemo"/>
        <result property="createUserId" column="createUserId"/>
        <result property="createTime" column="createTime"/>
    </resultMap>
    <insert id="addKnowledge" parameterType="Knowledge">
        INSERT INTO tb_knowledge(id,kTitle,kAnswer,createTime,createUserId) VALUES (
          #{id},#{kTitle},#{kAnswer,typeHandler=com.zh.framework.util.StringBlobHandler},#{createTime},#{createUserId}
        )
    </insert>
    <select id="queryAllKnowledge" resultMap="knowledgeMap">
        SELECT * FROM tb_knowledge k
    </select>
    <select id="queryKnowledgeById" resultMap="knowledgeMap">
        SELECT * FROM tb_knowledge k WHERE k.id=#{id}
    </select>
    <select id="queryKnowledgesAndSort" resultMap="knowledgeMap">
        SELECT * FROM tb_knowledge ORDER BY tb_knowledge.
        <choose>
            <when test="orderBy=='kUserTimeLast'">
                kUserTimeLast
            </when>
            <when test="orderBy=='id'">
                id
            </when>
            <when test="orderBy=='createTime'">
                createTime
            </when>
            <otherwise>
                kUseCount
            </otherwise>
        </choose>
        <choose>
            <when test="order==1">
                ASC
            </when>
            <otherwise>
                DESC
            </otherwise>
        </choose>
    </select>
    <update id="updateUseCount">
        UPDATE tb_knowledge k SET k.kUseCount=#{count} WHERE k.id=#{id}
    </update>




    <insert id="insertKnowledge1" parameterType="Knowledge">
    INSERT INTO tb_knowledge(kTitle,kAnswer,kUseCount,kApprStatus,kApprUserId,kApprTime,kApprMemo,createUserId,createTime)
    VALUES (#{kTitle},#{kAnswer,typeHandler=com.zh.framework.util.StringBlobHandler},#{kUseCount},#{kApprStatus},#{kApprUserId},#{kApprTime},#{kApprMemo},#{createUserId},#{createTime})
</insert>

    <insert id="insertKnowledge" parameterType="Knowledge">
        INSERT INTO tb_knowledge(kTitle,kAnswer,kUseCount,kApprStatus,kApprUserId,kApprTime,kApprMemo,createUserId,createTime)
        VALUES (#{k.kTitle},#{2,typeHandler=com.zh.framework.util.StringBlobHandler},#{3},#{4},#{5},#{6},#{7},#{8},#{9})
    </insert>





    <update id="updateKnowledge" parameterType="Knowledge">
        UPDATE tb_knowledge k SET

            k.kTitle=#{kTitle},


            k.kAnswer=#{kAnswer,typeHandler=com.zh.framework.util.StringBlobHandler},


            k.kApprStatus=#{kApprStatus},


            k.kApprUserId=#{kApprUserId},


            k.kApprTime=#{kApprTime},


            k.kApprMemo=#{kApprMemo},


            k.createUserId=#{createUserId},


            k.createTime=#{createTime}

    </update>
    <update id="updateKnowledgeStatus">
        UPDATE tb_knowledge k SET k.kApprStatus=#{status} WHERE k.id=#{id}
    </update>
    <update id="updateLastUseTime">
        UPDATE tb_knowledge k SET k.kUserTimeLast=#{time} WHERE k.id=#{id}
    </update>
    <delete id="deleteKnowledge">
        DELETE FROM tb_knowledge WHERE tb_knowledge.id=#{id}
    </delete>
</mapper>